@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* **************
    basic start 
   ************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* **************
    basic end 
   ************** */

/* **************
    utils start 
   ************** */

a:link,
a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* **************
    utils end 
   ************** */
