@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* **************
    basic start 
   ************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #aaaaaa;
}

/* **************
    basic end 
   ************** */

/* **************
    utils start 
   ************** */

.container {
  margin: 15rem 0;
}

a:link,
a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

/* **************
    utils end 
   ************** */

/* **************
    header start 
   ************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3a3a3a;
  padding: 8.7rem 12rem;
}

.header-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 3.4rem;
}

.link a {
  font-size: 1.6rem;
  color: #3a3a3a;
}

.icon {
  font-size: 3.4rem;
  margin-left: 3.4rem;
}

/* **************
    header end 
   ************** */

/* **************
    hero start 
   ************** */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-des {
  width: 58rem;
  color: #3a3a3a;
}

.hero-title {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 7rem;
}

.hero-subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin: 1.6rem 0;
}

.btn {
  display: inline-block;
  background-color: #e02c6d;
  border-radius: 4.1rem;
  padding: 1rem 2.4rem;
  color: #fff;
  font-size: 1.6rem;
}

.btn span {
  margin-left: 0.8rem;
}

.hero-img {
  width: 44rem;
  height: 41.5rem;
  background-image: url("images/Circle\ design.svg");
}

.hero-img img {
  padding: 2rem;
  margin: 2rem;
}
/* **************
    hero end 
   ************** */

/* **************
    logos start 
   ************** */

.logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.6rem 6rem;
  margin: 15rem 16.5rem;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.logo,
.logo img {
  width: 5.5rem;
  height: 3rem;
}

/* **************
    logos end 
   ************** */

/* **************
    collections start 
   ************** */
.collections {
  padding: 0 19.6rem;
}

.collections-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 3rem;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3rem;
}

.item {
  width: 33rem;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1.5rem;
}

.item-img,
.item-img img {
  width: 30rem;
  border-radius: 0.5rem;
}

.item-des {
}

.item-title {
  font-size: 2.8rem;
  color: #18191f;
  line-height: 4rem;
  font-weight: 600;
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
}

.item-price {
  font-size: 2.4rem;
  color: #000000de;
}

.item-rating {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1rem 0;
}

.fa-solid.fa-star {
  font-size: 1.6rem;
  color: gold;
}

.item-rating p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #5e6366;
}

.item-info {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.024rem;
  color: #787885;
}

.see-more--btn {
  margin-top: 5rem;
  text-align: right;
}

.see-more--btn a {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #e02c6dde;
  padding: 1.2rem 1.6rem;
}

.see-more--btn a span {
  margin-left: 0.8rem;
}

/* **************
    collections end 
   ************** */

/* **************
    feature start 
   ************** */
.feature {
  display: flex;
  align-items: center;
  gap: 9.6rem;
  padding: 0 16.5rem;
}

.feature-img,
.feature-img img {
  width: 40rem;
  border-radius: 0.7rem;
}

.feature-des {
}

.feature-title {
  font-size: 3.8rem;
  font-weight: 700;
  color: #0a0826;
}

.feature-subtitle {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: #6c6c6c;
  margin: 1.6rem 0;
}

.feature-des .btn {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0;
}

.btn span {
  margin-left: 0.8rem;
}
/* **************
    feature end 
   ************** */
