@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* **************
    basic start 
   ************** */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #aaaaaa;
}

/* **************
    basic end 
   ************** */

/* **************
    utils start 
   ************** */

a:link,
a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

/* **************
    utils end 
   ************** */

/* **************
    header start 
   ************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3a3a3a;
  padding: 8.7rem 12rem;
}

.header-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 3.4rem;
}

.link a {
  font-size: 1.6rem;
  color: #3a3a3a;
}

.icon {
  font-size: 3.4rem;
  margin-left: 3.4rem;
}

/* **************
    header end 
   ************** */
